Package: chrome-repository
Version: 1.0.0-1big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:20
Description: Chrome packages directly from google


